@font-face {
  font-family: BankGothicBold;
  font-weight: bold;
  src: url("../font/BankGothicBold.ttf");
}
body {
  display: block;
  padding: 0;
  margin: 0;
  color: #646464;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

p {
  text-align: center;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 2% 3%;
  background: linear-gradient(to bottom left, #e8e8eb, #f5f6f6);
  border-radius: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: -7px 7px 25px 0px rgba(0, 0, 0, 0.37);
}

.center-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0 2em;
}

.logo {
  width: 380px;
  margin-top: 90px;
  animation-duration: 4s;
  animation-delay: 1s;
}

.title-top {
  font-size: 89px;
  font-family: "BankGothicBold";
  text-transform: uppercase;
  cursor: default;
  animation-duration: 8s;
  animation-delay: 1s;
}

.description {
  width: 350px;
}

.title-bottom {
  font-size: 53px;
  font-family: "BankGothicBold";
  text-transform: uppercase;
  letter-spacing: 1.42em;
  width: 7.3em;
  cursor: default;
  animation-duration: 8s;
  animation-delay: 1s;
}

.social {
  font-size: 5em;
  letter-spacing: 40px;
  transition: 0.6s;
}
.social .switch:hover {
  width: 50px;
  transition: 0.6s;
}

.button {
  margin-top: 2em;
  padding-top: 5px;
  width: 336px;
  height: 42px;
  background: #000000;
  border-radius: 0.3em;
  border: 0;
  color: #eff0f1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background: #515151;
  transition: 0.8s;
}

.phone-screen {
  display: none;
  margin-top: 50px;
}

.side-left {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  animation-duration: 1s;
}

.side-right {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  animation-duration: 1s;
}

.card_left {
  background: url("../icons/Rectangle1.png") no-repeat;
  width: 280px;
  height: 250px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card_left img {
  position: absolute;
  top: 30px;
}
.card_left img:hover {
  width: 40px;
  transition: 0.4s;
}
.card_left p {
  margin: 0;
  width: 180px;
}

.card_right {
  background: url("../icons/Rectangle2.png") no-repeat;
  width: 280px;
  height: 250px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card_right img {
  position: absolute;
  top: 30px;
}
.card_right img:hover {
  width: 40px;
  transition: 0.4s;
}
.card_right p {
  margin: 0;
  width: 180px;
  text-align: center;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@media (max-width: 1200px) {
  .frame {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 1.2em;
    background: #f0f1f2;
    border-radius: 0;
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .button {
    margin-top: 3em;
    padding-top: 25px;
    width: 13em;
    height: 60px;
  }

  .phone-screen {
    display: block;
  }

  .card_left {
    display: none;
  }

  .card_right {
    display: none;
  }

  .line-block {
    display: flex;
    margin-bottom: 2em;
  }

  .side_left {
    width: 38%;
    height: 14.6em;
    background: #e9eae9;
  }

  .side_right {
    width: 45%;
    height: 14.6em;
    background: #e9eae9;
    z-index: 1;
  }

  div.card_hidden_left:last-child {
    margin-bottom: 0;
  }

  .card_hidden_left {
    background: url("../icons/Rectangle3.png") no-repeat;
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_hidden_left p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    width: 190px;
  }

  div.card_hidden_right:last-child {
    margin-left: 40%;
  }

  .card_hidden_right {
    background: url("../icons/Rectangle4.png") no-repeat;
    width: 320px;
    height: 250px;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .card_hidden_right p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    width: 190px;
  }

  .phone-button {
    display: block;
    text-align: center;
    margin: 2em 35% 0 35%;
    padding-top: 1.2em;
    width: 13em;
    height: 60px;
    background: #000000;
    border-radius: 0.3em;
    border: 0;
    color: #eff0f1;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
}
@media (max-width: 1000px) {
  .logo {
    width: 45em;
    padding-top: 7em;
  }

  .title-top {
    font-size: 10.5em;
    padding-top: 0.1em;
  }

  .title-bottom {
    font-size: 6.1em;
    letter-spacing: 1.48em;
    margin-right: 0.2em;
  }

  .description {
    width: 90%;
  }

  .button {
    margin-top: 2em;
    padding-top: 50px;
    width: 11em;
    height: 140px;
    font-size: 3.5em;
  }

  .social img {
    padding-top: 60px;
    width: 80px;
  }

  .side_left {
    width: 44%;
  }

  .card_hidden_left img {
    width: 130px;
    position: absolute;
    left: 30px;
  }

  .card_hidden_left p {
    width: 400px;
    font-size: 1.8em;
    margin-right: 9em;
  }

  .card_hidden_left h3 {
    font-size: 3em;
    margin: 0.2em 5.2em 0.2em 0;
  }

  .card_hidden_right {
    width: 270px;
    margin-left: 17em;
  }

  .card_hidden_right img {
    width: 130px;
    position: absolute;
    right: 30px;
  }

  .card_hidden_right p {
    width: 500px;
    font-size: 1.8em;
    margin-left: 10em;
  }

  .card_hidden_right h3 {
    font-size: 3em;
    margin: 0.2em -7em 0.1em 0;
  }
}
@media (max-width: 800px) {
  .side_left {
    width: 25%;
  }

  .card_hidden_left img {
    width: 60px;
  }

  .card_hidden_left p {
    width: 280px;
    font-size: 1em;
  }

  .card_hidden_left h3 {
    font-size: 2em;
    margin: 0.2em 4em 0.3em 0;
  }

  .card_hidden_right img {
    width: 80px;
  }

  .card_hidden_right p {
    width: 300px;
    font-size: 1em;
    margin-left: 5em;
  }

  .card_hidden_right h3 {
    font-size: 2em;
    margin: 0.2em -3em 0.3em 0;
  }
}

/*# sourceMappingURL=designclub.css.map */
