@font-face {
  font-family: BankGothicBold;
  font-weight: bold;
  src: url("../font/BankGothicBold.ttf");
}

$frame-color: #e0e0e0;
$frame-adaptive-color:#f0f1f2;
$elements-color: #000000;
$side-color:#e9eae9;
$background-color: #eff0f1;
$icons-color: #515151;
