.container {
  width: 10em; 
  margin: 4em auto;
  border: 4px double black;
  border-radius: 50%;
}
.rotation {
	display: inline-block;
    transition: 3s ease-in-out;
}
.rotation:hover {
    transform: rotate(3turn);
}